#div1
{
    display:inline-block;
    width: 100px;
    height: 100px;
    border:3px solid red;
    background-color: green;
    

}

#div2
{
    display: inline-block;
    width: 100px;
    height: 100px;
    
    border:3px solid black;
    background-color: red;
    border-radius: 20px;

}







