#div1
{
    position: static;
    display:block;
    width: 100px;
    height: 100px;
    border:3px solid red;
    background-color: green;
    
    

}

#div2
{
    position: sticky;
    display: block;
    width: 500px;
    height: 100px;
    top:0;
    
    border:3px solid black;
    background-color: red;
    border-radius: 20px;

}

p{
    position: relative;
    
}







