#div1
{
    display: flex;
    width: 500px;
    height: 500px;
    border:3px solid red;
    background-color: green;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

}

button{
    width: 30px;
    height: 40px;
}









