#div1
{
    position: relative;
    display:block;
    width: 500px;
    height: 500px;
    border:3px solid red;
    background-color: green;
    outline: 2px solid red;

    
    

}

#div2
{
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    top:100px;
    
    border:3px solid black;
    background-color: purple;
    border-radius: 20px;

}







